<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="../static/js/themes.js"> </script>
</head>
<body>

<header>
    <h1>Challenge Results</h1>
</header>

<main>
    <section style="text-align: center; padding: 50px;">
        <h2>Your Score: {{ average_score }}</h2>
        <img src="{{ url_for('static', filename='images/' + temp_id + '.png') }}" alt="Result Image">
        <p>Great job! Keep practicing to improve your score.</p>
    </section>
</main>

</body>
</html>
